body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");

    /* Set a specific height */
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    padding-bottom: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.header-buttons {
    background: transparent;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 3px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.header-button {
    background: transparent;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #e7e7e7
}

.header-button:hover {
    background-color: #555555;
}

h1 {
    color: white;
    letter-spacing: 3px;
    font-size: 48px;
    font-weight: bold;
}


#header-text {
    transition: 0.2s;
}

#header-text2 {
    transition: 0.2s;
}
